---
layout: default
title: Savory Daili
---

<ul class="posts">
  {% for post in site.posts %}
  {% assign tags = post.categories | join: '~~~' | downcase | split: '~~~' %}
  {% if tags contains "recipe" %}
  <li>
    <h1 class="post-title"><a href="{{ post.url }}.html">{{ post.title }}</a></h3>
    <div class="date">{{ post.date | date_to_string }}</div>
    <div class="tags">{{ post.categories | array_to_sentence_string }}</div>
    <img src="{{ post.img-abstract }}" class="img-abstract">
    <div class="abstract">
      {% assign excerptParts = post.excerpt | split: "<!-- excerpt-start -->" %}
      {{ excerptParts[1] | strip_newlines | truncatewords: 125 }}
    </div>
  </li>
  {% endif %}
  {% endfor %}
</ul>
